.parent{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 2%;
    margin: 2%;
    /* flex-wrap: wrap; */
}
.parent>.card{
    width: 30%;
    border: 2px solid fuchsia;
    padding: 1%;
    margin: 1%;
    text-align: center;
}
button{
    color: royalblue;
    width: 40%;
}
@media only screen and (min-width:320px) and (max-width:480px) { .parent{
    display: flex;
    flex-direction: column;

}
.parent>.card{
    width: 50%;
}
@media only screen and (min-width:481px) and (max-width:728){.parent{
    display: flex;
    flex-direction: column;
}
.parent>.card{
    width: 90%;
    display: flex; 
    flex-direction: row;
    box-shadow: 5px 5px 5px 5px solid red; 
    
}
}